ngb-carousel {
  height: 70vh;
}

ngb-carousel .carousel-inner {
  height: 100%;
}

ngb-carousel .carousel-item img {
  max-height: 50px;
  width: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

::ng-deep ngb-carousel .carousel-item img {
  max-height: 600px !important;
  width: auto;
  object-fit: cover;
}

::ng-deep ngb-carousel .carousel-control-prev,
::ng-deep ngb-carousel .carousel-control-next {
  top: 60% !important;
  transform: translateY(-50%);
  bottom: auto !important;
}

::ng-deep ngb-carousel .carousel-indicators {
  bottom: -80px !important;
  top: auto !important;
}

